.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 10px;
  grid-template-areas:
    "header header header header header"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content";
  background-color: #e0ddcfff;
}

.App header {
  grid-column: 1 / -1; /* Span the full width */
}

/* --onyx: #474448ff;
--raisin-black: #2d232eff;
--bone: #e0ddcfff; */