.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    background-image: url('/assets/superhero_background.jpg');
    background-size: cover;
    background-position: center;
}

.landing-page-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255);
    padding: 20px;
    border-radius: 10px;

}
.landing-page h1 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.login-button, .signup-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none; /* removes underline */

}

.login-button {
    background-color: #eb1414;
    color: white;
}

.signup-button {
    background-color: #1494cb;
    color: white;
}