@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');

.main-back{
    min-height: 93vh;
    display: flex;
    padding: 10px 0;
    width: 100%;

}

.page {
    width: 100%;
  }

.heading {
    font-size: 60px;
font-family: "Work Sans", sans-serif;
padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}
/* .Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
} */