button{
    margin-top: 10px;
}
.superhero-list-item li{
    list-style: none;
}
.search-results{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.superhero-list-item{
    width: 100%;
    padding: 0;
}
.list-btn{
    margin-left: 10px;
}
.clear-btn{
    margin-left: 10px;
}