.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #474448;
    padding: 20px;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.signin-form, .signup-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    text-align: center;
}

.signin-input, .signup-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signin-button, .signup-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.switch-sign-in-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}