.superhero-list {
    list-style-type: none;
    padding: 0;
    grid-area: 2/ 2 / 5 /5;
}

.superhero-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
}
